Repository ewasm/design, pull requests merged in 2018-08, with the labels that each got.

#87 EEI: change revert, return and selfdestruct to cause a trap
  eth_interface.md
Labels: EEI (environment interface), in progress

#128 Add dedicated chapter about EVM1 transcompiler
  README.md
  evm_transcompiler.md
  faq.md
  system_contracts.md
  vm_semantics.md
Labels: in progress

#120 Rename getBalance to getExternalBalance
  eth_interface.md
Labels: EEI (environment interface), in review

#106 EEI: Improved docs for getAddress()
  eth_interface.md
Labels: EEI (environment interface), in progress

#130 ECI: Document the consequences of wasm trap
  contract_interface.md
Labels: ECI (contract interface), in progress
